body {
    margin: 0;
    font-family: Arial;
}

:root {
    --primary: #d40000;
}

header {
    background: var(--primary);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 10px;
}
